.slider-container {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch; /* For smoother scrolling on iOS */
    scroll-behavior: smooth;
    
}

/* For WebKit browsers */
.slider-container::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
}

.slider-container::-webkit-scrollbar-thumb {
    background-color: #000000; /* Color of the scrollbar thumb */
    border-radius: 6px; /* Rounded corners of the scrollbar thumb */
}

/* For Firefox */
.slider-container {
    scrollbar-width: thin; /* Width of the scrollbar */
    scrollbar-color: #000000 #000000; /* Color of the scrollbar thumb and track */
    border-radius: 3px;
}


.slider {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    scroll-snap-type: x mandatory;
}

.slider li {
    flex: 0 0 auto;
    scroll-snap-align: start;
}

.slider img {
    max-width: 100%;
    height: auto;
}



/* -------------------------------- Media Query -------------------------------------------------- */

/* Base styles */
/* Define your base styles here */

/* Media query for screens smaller than 768px (e.g., smartphones) */
@media only screen and (max-width: 768px) {
    .body{
        height: 70vh;
    }
    .overlay{
        height: 70vh;
    }
    .about{
        height: 55vh;
    }
    #lang{
        padding: 8px 20px;
    }
    #signIn{
        width: 80px;
    }
    #input{
        margin-bottom: 15px;
    }
    .price h1{
        top: 50px;
        font-size: 1.5rem;
        font-weight: 900;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-bottom: 33px;
    }

    /* ----------------------------------------------------------------- */

    .plans{
        height: 160px;
    }
    .plans h1{
        font-size: 1.5rem;
        margin: 5px 20px;
    }
    .plans p{
        font-size: 1.2rem;
        color: #c9b8b8;
        margin-left: 20px;
    }
    .trend h2{
        font-size: 1.2rem;
        font-weight: 550;
    }

    /* --------------------------------------------------------------------------- */

    #member{
        font-size: 1.2rem;
        font-weight: 550;
    }
   
    /* -------------------------------------------------------------------------------- */
    .reason p{
        font-size: 1.2rem;
        font-weight: 550;
    }
    .boxes{
        flex-direction: column;
        justify-content: center;
    }

    .box{
        width: 100%;
        height: 150px;
        margin-bottom: 15px;
    }
    .box img{
        width: 15%;
    }
    .box h3{
        font-size: 1.5rem;
    }

    /* ------------------------------------------------------------------------------------------ */

    .p{
        font-size: 1.2rem;
        font-weight: 550;
    }
    .list{
        width: 90%;
        padding: 15px;
        height: 50px;
        margin: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition-duration: 0.5s;
    }
    .list p{
        font-size: 1.2rem;
        font-weight: 500;
    }
    .list img{
        width: 15px;
    }

    /* ------------------------------------------------------------------------------------------------ */

    .input p{
        font-size: 1rem;
        font-weight: 400;
    }

    #input2{
        margin-bottom: 10px;
        padding: 18px 33% 18px 15px;
    }
    #btn-3{
    padding: 16px 35px 16px;
    font-size: 1.2rem;
    font-weight: 400;
    }

    /* -------------------------------------------------------------------------------------------------------- */

    .more{
        flex-direction: column;
    }
    .more li{
        width: 100%;
    }

}

/* Media query for screens between 768px and 1024px (e.g., tablets) */
@media only screen and (min-width: 768px) and (max-width: 1024px) { 
    /* Define styles for tablets here */
    .body{
        height: 70vh;
    }
    .overlay{
        height: 70vh;
    }
    .about{
        height: 55vh;
    }
    #lang{
        padding: 8px 20px;
    }
    #signIn{
        width: 80px;
    }
    #input{
        margin-bottom: 15px;
    }
    .price h1{
        top: 50px;
        font-size: 1.5rem;
        font-weight: 900;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-bottom: 33px;
    }

    /* ----------------------------------------------------------------- */

    .plans{
        height: 160px;
    }
    .plans h1{
        font-size: 1.5rem;
        margin: 5px 20px;
    }
    .plans p{
        font-size: 1.2rem;
        color: #c9b8b8;
        margin-left: 20px;
    }
    .trend h2{
        font-size: 1.2rem;
        font-weight: 550;
    }

    /* --------------------------------------------------------------------------- */

    #member{
        font-size: 1.2rem;
        font-weight: 550;
    }
   
    /* -------------------------------------------------------------------------------- */
    .reason p{
        font-size: 1.2rem;
        font-weight: 550;
    }
    .boxes{
        flex-direction: column;
        justify-content: center;
    }

    .box{
        width: 100%;
        height: 150px;
        margin-bottom: 15px;
    }
    .box img{
        width: 15%;
    }
    .box h3{
        font-size: 1.5rem;
    }

    /* ------------------------------------------------------------------------------------------ */

    .p{
        font-size: 1.2rem;
        font-weight: 550;
    }
    .list{
        width: 90%;
        padding: 15px;
        height: 50px;
        margin: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition-duration: 0.5s;
    }
    .list p{
        font-size: 1.2rem;
        font-weight: 500;
    }
    .list img{
        width: 15px;
    }

    /* ------------------------------------------------------------------------------------------------ */

    .input p{
        font-size: 1rem;
        font-weight: 400;
    }

    #input2{
        margin-bottom: 10px;
        padding: 18px 33% 18px 15px;
    }
    #btn-3{
    padding: 16px 35px 16px;
    font-size: 1.2rem;
    font-weight: 400;
    }

    /* -------------------------------------------------------------------------------------------------------- */

    .more{
        flex-direction: column;
    }
    .more li{
        width: 100%;
    }
}
